.constructor-elements-list__item {
  margin:0;
  width: 568px;
  display: flex;
  flex-flow: row;
  gap: calc(var(--offset-base-size)  * 2);
  justify-content: end;
  align-items: center;
  cursor:move;
}

