.components__item {
  margin:0;
  padding:0;
  display: flex;
  flex-flow: row;
  gap: 8px;
  justify-content: end;
  align-items: center;
}

.components__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-height: 656px;
  height: fit-content;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.components__list::-webkit-scrollbar {
  width: 8px;             /* ширина scrollbar */
}
  
.components__list::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}

.components__list::-webkit-scrollbar-thumb {
  background-color: #8585AD;    /* цвет плашки */
}

.components__list::-webkit-scrollbar-track-piece:end{
  background: #2F2F37;
  margin-bottom: 96px; 
}

.components__list::-webkit-scrollbar-track-piece:start{
    background: #2F2F37;
    margin-top: 96px; 
  }