.burger-constructor {
  margin: 0;
  padding-right: 8px;
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: start;
}

.burger-constructor__overall-flex {
  margin:0;
  display: flex;
  flex-flow: row;
  gap: 40px;
  justify-content: end;
  justify-self: end;
  align-items: center;
}

.burger-constructor__price {
  margin:0;
  display: flex;
  flex-flow: row;
  gap: 8px;
  height: 36px;
  align-items: center;
  align-self: center;
}